<div>
    <h1>Bienvenido! </h1><h2>{{first_name}} {{last_name}}</h2>
    <h3>Tu rol es: {{role}}</h3>
    
   
     {{#each Products}}
        <li>
            <strong>Title: </strong>{{idProduct.title}} -
        

            <strong>quantity:  </strong>{{this.quantity}}- 

           
            
        </li>
        
        <a href="/api/carts/delete/{{cid}}/product/{{idProduct._id}}"><button>eliminar producto</button></a>
    {{/each}}
    <br>
    <br>
<a href="/api/carts/{{cid}}/purchase"> <button>realizar compra</button></a>
<a href="/api/products/"> <button>volver a los productos</button></a>
</div>