<div>
    <h1>Bienvenido! </h1><h2>{{first_name}} {{last_name}}</h2>
    <h3>Tu rol es: {{role}}</h3>
    
   
    
        <li>
            <strong>Title: </strong>{{title}} -
             <strong>description:  </strong>{{description}}- 
            
           
            
            <strong>price: </strong>{{price}}-
          
            <strong>stock: </strong>{{stock}}-
        

            
        </li>
<a href="/api/carts/{{cartID}}/products/{{PID}}"> <button>Agregar al carrito</button></a>
</div>